<!doctype html>
<html lang="pt-BR" xmlns:th="www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastre-se</title>
</head>
    <body>
       <main id="content">
           <div th:replace="fragments/header :: header"></div>
           <h1>Cadastre-se</h1>
       </main>
    </body>
</html>